*.iml
*.ipr
*.iws
*.ids
*.log
*.jar
*.war
*.ear
*.class
.mtj.tmp/
hs_err_pid*
/target/
.idea/
classes/
cobertura/
.DS_Store
.idea/*
.gradle/
build/
out/
bin/
release/build/*
release/cache
*/**/tabbar.tmpl.js
.classpath
.project
node_modules/
bower_components/
*/**/.tmp
.settings/
.sass-cache/
.tmp/
**/*.log
**/*.log.*
